@import '../variables';

.cart {
   background-color: $coffee;
   padding: 50px;
   height: 100vh;

   @media (max-width: 1024px) {
      padding: 20px;
   }

   @media (max-width: 380px) {
      padding: 10px;
   }

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 1440px;
      height: calc(100vh - 100px);
      background-color: $white;
      margin: 0 auto;
      padding: 0 calc(10px + (300 - 10) * ((100vw - 800px) / (1920 - 800)));;

      @media (max-width: 1024px) {
               height: calc(100vh - 40px);
      }

      @media (max-width: 768px) {
         padding: 0 20px;
      }

      @media (max-width: 380px) {
         height: calc(100vh - 20px);
         padding: 0 5px;
      }
   }

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .content__title {
      display: flex;
      align-items: center;
      font-size: 32px;

      @media (max-width: 768px) {
         font-size: 22px;
      }

      svg {
         position: relative;
         top: -2px;
         width: 30px;
         height: 30px;
         margin-right: 10px;
         path {
            stroke: $black;
            stroke-width: 1.9;
         }
      }
   }

   &__clear {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
         display: inline-block;
         margin-left: 7px;
         color: #b6b6b6;
         font-size: 18px;

         @media (max-width: 576px) {
            font-size: 16px;
         }
      }

      span,
      svg,
      path {
         transition: all $duration ease-in-out;
      }

      &:hover {
         svg {
            path {
               stroke: darken($color: $coffee, $amount: 50);
            }
         }
         span {
            color: darken($color: $coffee, $amount: 50);
         }
      }
   }

   .content__items {
      display: flex;
      flex-direction: column;
   }

   &__item {
      display: flex;
      width: 100%;
      border-top: 1px solid $coffee;
      padding-top: 30px;
      margin-top: 30px;

      &-img {
         display: flex;
         align-items: center;
         margin-right: 15px;

         img {
            width: 80px;
            height: 80px;
         }
      }

      &-flex {
         display: flex;
      }

      &-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 100%;

         h3 {
            font-weight: bold;
            font-size: 22px;
            line-height: 27px;
            letter-spacing: 0.01em;

            @media (max-width: 767px) {
               font-size: 14px;
               line-height: 17px;
            }
         }

         p {
            font-size: 18px;
            color: $coffee;

            @media (max-width: 767px) {
               font-size: 14px;
               line-height: 17px;
            }
         }
      }

      &-count {
         display: flex;
         align-items: center;
         justify-content: space-between;

         @media (max-width: 576px) {
            display: none;
         }

         b {
            font-size: 22px;

            @media (max-width: 767px) {
               font-size: 14px;
               line-height: 17px;
            }
         }
      }

      &-price {
         display: flex;
         align-items: center;
         justify-content: center;

         b {
            font-weight: bold;
            font-size: 22px;
            letter-spacing: 0.01em;
            width: 100px;
            text-align: center;

            @media (max-width: 767px) {
               font-size: 14px;
               line-height: 17px;
               width: 59px;
            }
         }
      }

      &-remove {
         display: flex;
         align-items: center;
         justify-content: flex-end;

         .button {
            color: $coffee;
            border-color: darken($color: $coffee, $amount: 10);
         }
      }
   }

   &__button {
      display: inline-block;
      background-color: $coffee;
      border-radius: 10px;
      margin: 10px;
      padding: 10px 20px;
      text-align: center;
      cursor: pointer;
      transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
      border: 1px solid transparent;

      &, span {
         color: $white;
      }

      i, span, path, svg {
         transition: all $duration ease-in-out;
      }

      &:hover {
         background-color: darken($coffee, 8%);
      }

      &:active {
         background-color: darken($coffee, 12%);
         transform: translateY(1px);
      }

      &-disabled {
         opacity: 0.4;
         background-color: $grey;
         cursor: default;

         &:hover {
            background-color: $grey;
         }

         &:active {
            transform: none;
            background-color: $grey;
         }
      }

      @media (max-width: 576px) {
         padding: 5px 10px;
      }
   }

   &__bottom {
      margin: 50px 0;

      &-details {
         display: flex;
         justify-content: space-between;

         span {
            font-size: 22px;

            @media (max-width: 576px) {
               font-size: 16px;
            }

            b {
               color: $coffee;
               font-size: 22px;

               @media (max-width: 576px) {
                  font-size: 16px;
               }
            }
         }
      }

      &-buttons {
         display: flex;
         justify-content: space-between;
         margin-top: 40px;

         svg {
            margin-right: 5px;
            padding-top: 2px;
         }

         @media (max-width: 480px) {
            flex-direction: column;

            .button {
               margin-bottom: 20px;
               width: 100%;
               height: 54px;
            }
         }
      }
   }

   &__empty {
      margin: 0 auto;
      text-align: center;

      h2 {
         font-size: 32px;
         margin-bottom: 10px;

         @media (max-width: 576px) {
         font-size: 22px;
         }

         i {
            font-size: 32px;
         }
      }

      &-flex {
         display: flex;
         align-items: center;
         justify-content: space-around;
         flex-wrap: wrap;
      }

      p {
         font-size: 18px;
         line-height: 145.4%;
         letter-spacing: 0.01em;
      }

      i {
         font-style: normal;
         position: relative;
         top: 2px;
      }

      img {
         display: block;
         width: 300px;
         margin: 45px auto;

         @media (max-width: 576px) {
         width: 200px;
         margin: 20px auto;
         }
      }

      a {
         margin: 100px auto;
      }
   }
}