@import '../variables';

.header__top-right {
   display: flex;
   justify-content: space-between;
   align-items: center;

   li {
      padding-right: 30px;
      font-size: 16px;
      line-height: 19px;
      list-style: none;
      cursor: pointer;

      span {
         color: $white;
         padding: 0 10px;
      }
   }
}