.pagination {
   display: flex;

   li {
      margin-right: 10px;

      &.selected {
         color: $white;
         background-color: $coffee;
         border-radius: 5px;
         
         a {
            color: $white;
         }
      }

      a {
         display: inline-block;
         text-align: center;
         width: 40px;
         line-height: 40px;
         height: 40px;
         color: $coffee;
         border: 1px solid $coffee;
         border-radius: 5px;
         cursor: pointer;

         &:hover {
            color: $white;
            background-color: $coffee;
         }
      }
   }
}